/* Home page styles */
.home-container {
    position: relative;
}
.image-text {
    position: absolute;
    bottom: 45%;
    left: 15%;
}
.features {
    font-size:20px;
    margin-top:20px;
    margin-bottom:20px;
}
.features-wrapper{
    margin-top:30px;
}
.features-item {
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid white;
    padding: 5px;
    cursor:default;
    width:20%;
}