@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/HomeScreen.css" />
<div class="home-container">
    <img src="~/img/natural.jpg" style="width:100%" />
    <div class="image-text">
        <h1>University advisor</h1>
        <h3>We are here to help you with your journey</h3>
    </div>
</div>
<div class="features text-center">
    <h1>Features</h1>
    <div class="d-flex justify-content-center features-wrapper">
        <div class="features-item">Reviews</div>
        <div class="features-item">UniCompare</div>
        <div class="features-item">Sign up</div>
    </div>
    <div class="d-flex justify-content-center features-wrapper">
        <div class="features-item">About us</div>
        <div class="features-item">Contact us</div>
    </div>
    <div class="d-flex justify-content-center features-wrapper">
        <div class="features-item">Top university list</div>
    </div>
</div>
<div class="home-container">
    <img src="~/img/vu.png" style="width:100%" />
    <div class="image-text">
        <h1>Vilnius University c# course is amazing!</h1>
        <h3>- some software engineering student</h3>
    </div>
</div>