@model UserModel
@{
    ViewData["Title"] = "Index";
}

    <form asp-controller="Settings" role="form" method="post" enctype="multipart/form-data" id="settingsForm">
        <div class="row">
            <div class="col-6">
                <h2> Change Password:</h2>


                <div class="row" oninput='currentPassword.setCustomValidity(currentPassword.value != @Model.Password ? "Incorrect password." : "")'>
                    <div class="col" oninput='currentPassword.setCustomValidity(currentPassword.value == newPassword.value ? "New password cannot be the same as old one." : "")'>
                        <label asp-for="CurrentPassword">Current password:</label>
                        <input asp-for="CurrentPassword" type="password" id="currentPassword" class="form-control" />
                    </div>
                </div>

                <div class="row" oninput='newPassword.setCustomValidity(newPassword.value != newPassword2.value ? "Passwords do not match." : "")'>
                    <div class="col" oninput='currentPassword.setCustomValidity(currentPassword.value == newPassword.value ? "New password cannot be the same as old one." : "")'>
                        <label asp-for="NewPassword">New password:</label>
                        <input asp-for="NewPassword" type="password" id="newPassword" class="form-control" />
                    </div>
                </div>
                <div class="row" oninput='newPassword.setCustomValidity(newPassword.value != newPassword2.value ? "Passwords do not match." : "")'>
                    <div class="col">
                        <label asp-for="NewPassword2">Confirm new password:</label>
                        <input asp-for="NewPassword2" type="password" id="newPassword2" class="form-control" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangePassword">Change password</button>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h2> Change Email:</h2>

                <div class="row" oninput='currentEmail.setCustomValidity(currentEmail.value != @Model.Email ? "Incorrect email." : "")'>
                    <div class="col" oninput='currentEmail.setCustomValidity(currentEmail.value == currentEmail.value ? "New email cannot be the same as old one." : "")'>
                        <label asp-for="CurrentEmail">Current email:</label>
                        <input asp-for="CurrentEmail" type="text" id="currentEmail" class="form-control" />
                    </div>
                </div>

                <div class="row" oninput='newEmail.setCustomValidity(newEmail.value != newEmail2.value ? "Emails do not match." : "")'>
                    <div class="col" oninput='currentEmail.setCustomValidity(currentEmail.value == newEmail.value ? "New email cannot be the same as old one." : "")'>
                        <label asp-for="NewEmail">New email:</label>
                        <input asp-for="NewEmail" type="text" id="newEmail" class="form-control" />
                    </div>
                </div>
                <div class="row" oninput='newEmail.setCustomValidity(newEmail.value != newEmail2.value ? "Emails do not match." : "")'>
                    <div class="col">
                        <label asp-for="NewEmail2">Confirm new email:</label>
                        <input asp-for="NewEmail2" type="text" id="newEmail2" class="form-control" />
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeEmail">Change email</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-6">
                <h2> Change University:</h2>

                <div>
                    <label> University: </label>
                    <select asp-items="Model.Universities" asp-for="SelectedUniversity" class="form-control" required=""></select>
                </div>

                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-primary" asp-controller="Settings" asp-action="ChangeUniversity">Change university</button>
                    </div>
                </div>
            </div>
        </div>
    </form>