@model QuestionModel
@{
    ViewData["Title"] = "Question";
}
<form asp-action="Question" asp-controller="Forum" role="form" method="post" enctype="multipart/form-data" id="signUpForm">

    <div class="row">
        <div class="col-lg-4">
            <label asp-for="Question">Your question</label>
            <input asp-for="Question" type="text" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <label asp-for="Message">Description</label>
            <textarea asp-for="Message" class="form-control" required="" pattern="[a-zA-Z0-9]+" style="height:200px"></textarea>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-4">
            <input class="btn btn-primary" type="submit" value="Submit question">
        </div>
    </div>
</form>
