<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - University advisor</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Buttons.css" />
    <link rel="stylesheet" href="~/css/Table.css" />
    <link rel="stylesheet" href="~/css/Global.css" />
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3" style="font-size:24px;">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse navbar-wrapper collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ml-3">
                            <a class="nav-link text-white effect-box" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item ml-3">
                            <a class="nav-link text-white effect-box" asp-area="" asp-controller="LogIn" asp-action="Index">Log In</a>
                        </li>
                        @if (loggedin)
                        {
                            <li class="nav-item ml-3">
                                <a class="nav-link text-white effect-box" asp-area="" asp-controller="Review" asp-action="Index">Reviews</a>
                            </li>
                            <li class="nav-item ml-3">
                                <a class="nav-link text-white effect-box" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                            </li>
                            <li class="nav-item ml-3">
                                <a class="nav-link text-white effect-box" asp-area="" asp-controller="Map" asp-action="Index">Map</a>
                            </li>
                            <li class="nav-item ml-3">
                                <a class="nav-link text-white effect-box" asp-area="" asp-controller="UserProfile" asp-action="Index">Your Profile</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
