@model MapModel
@{
    ViewData["Title"] = "Map";
}
<html>
    <head>
        <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="~/lib/leaflet/leaflet.js"></script>
        <style>
            #map {
                height: 60vh;
            }
            #sendAddressForm {
                margin-bottom: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Find Universities</h1>
        
        <form asd-action="SendAddress" asp-controller="Map" role="form" method="POST" enctype="multipart/form-data" id="sendAddressForm">
            <div class="row">
                <div class="col-lg-4">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" type="text" class="form-control" pattern="[a-zA-Z0-9]+" />
                </div>
                <div class="col-lg-4">
                    <label asp-for="Range"></label>
                    <input asp-for="Range" type="number" class="form-control" required="" pattern="[0-9]{1,5}" />
                </div>
                <div class="col-lg-4">
                    <input class="btn btn-primary" type="submit" value="Find">
                </div>
            </div>
        </form>
        <div id="map"></div>

        <script type="text/javascript">
            let marker;
            let universitiesInfo = [];

            @{
                var userCoordinates = Model.GetCoordinates(Model.ConstructApiUrl(Model.Address));
                var userMarker = new MarkerModel
                {
                    Latitude = userCoordinates.Item1,
                    Longitude = userCoordinates.Item2,
                    Name = "Your Location"
                };

                var schoolsInRange = Model.GetSchoolsInRangeMarkers(Model.Range, userMarker);
            }
            const map = L.map('map').setView([@userCoordinates.Item1, @userCoordinates.Item2], 13);
            // load a tile layer
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoidGFkYXNtIiwiYSI6ImNrMmo0dzNkZjFnYmozbXA1NnpwYzR3djcifQ.oHXh2g0sVpiqLu3wmcP5uw'
            }).addTo(map);


            @foreach (var university in schoolsInRange)
            {
                @: marker = L.marker([@university.Latitude, @university.Longitude]);
                @: marker.bindPopup("@university.Name");
                @:universitiesInfo.push(marker);
                @:marker.addTo(map);
            }
        </script>
    </body>
 </html>
