@model UserModel
@{
    ViewData["Title"] = "Index";
}

    <form asp-controller="LogIn" role="form" method="post" enctype="multipart/form-data" id="logInForm">

        <div class="mb-2">
            <h2> Log In</h2>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label asp-for="Username">Username</label>
                <input asp-for="Username" type="text" class="form-control" />
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-lg-2">
                <button class="btn btn-primary" asp-controller="LogIn" asp-action="LogIn">Log in</button> 
            </div>
            <div class="col-lg-2">
                <a class="btn btn-primary" asp-controller="Registration" asp-action="Index">Sign Up</a>
            </div>
        </div>

    </form>
